.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}


.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
    text-decoration: underline !important;
    color: #182072 !important;
}

.in-text {
    text-decoration: underline !important;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink {
    font-size: 12pt !important;
    text-decoration: underline !important;
}

.menulink:hover {
    color: #111;
    text-decoration: underline !important;
}

.name {
    font-family: "IBM Plex Sans", sans-serif !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    color: #182072 !important;
    margin-bottom: 8px;
    margin-top: 0;
    line-height: 1.2;
}

.subtitle {
    font-family: "Geist", sans-serif;
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.4;
}

.header {
    font-family: "IBM Plex Sans", sans-serif !important;
}

.profilepic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    /* filter: grayscale(100%); */
}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-links > div {
    margin: 0;
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 15px;
        /* filter: grayscale(100%); */
    }

    .name {
        font-size: 24px;
    }

    .subtitle {
        font-size: 14px;
        margin-bottom: 15px;
    }


}

/* .thisauthor {
          color: #111;
          text-decoration: underline;
    } */